# Ignore environment variable files
.env
.env.example

# Node and Python env folders (if any)
.venv/
env/
venv/

# Streamlit cache and logs
.streamlit/
__pycache__/
*.pyc

# OS junk files
.DS_Store
Thumbs.db
